.markdown-body {
    h1 {
        margin: 48px 0 24px;
        padding-bottom: 16px;
        font-weight: 500;
        font-size: 26px;
        border-bottom: 1px solid rgba(0, 0, 0, .12);
    }

    h2 {
        margin: 48px 0 24px;
        padding-bottom: 10px;
        font-weight: 500;
        font-size: 22px;
        border-bottom: 1px solid rgba(0, 0, 0, .12);
    }

    h3 {
        margin: 48px 0 24px;
        padding-bottom: 10px;
        font-size: 18px;
        font-weight: 500;
    }

    h4 {
        margin: 48px 0 24px;
        font-size: 16px;
        font-weight: 400;
    }

    h5 {
        margin: 48px 0 24px;
        font-size: 16px;
        font-weight: 400;
    }

    p, ul, ol {
        margin: 24px 0 24px;
        line-height: 1.8;

        li {
            ul, ol {
                margin: 8px 0 0;
            }
        }
    }

    ul, ol {
        padding-left: 20px;
    }

    li {
        margin: 0 0 8px;
    }

    hr {
        margin: 48px 0;
        border: 0;
        border-bottom: 1px solid rgba(0, 0, 0, .12);
    }

    img {
        max-width: 100%;
    }

    table {
        display: block;
        margin: 48px 0;
        width: max-content;
        overflow: auto;
        border-spacing: 0;
        border-collapse: collapse;

        thead {
            text-align: left;
        }

        tr {
            border-top: 1px solid rgba(0, 0, 0, .12);
        }

        td, th {
            padding: 6px 12px;
            border: 1px solid rgba(0, 0, 0, .12);
        }
    }

    pre {
        padding: 16px;
        overflow: auto;
        background-color: #f4f5f7;

        code {
            padding: 0;
            font-size: 100%;
            word-break: normal;
            white-space: pre;
            background: transparent;
            border: 0;
        }
    }

    code {
        display: inline-block;
        padding: .1em .6em;
        margin: 0;
        font-size: 80%;
        background-color: #f4f5f7;
        border-radius: 2px;
    }

    blockquote {
        margin: 24px 0;
        padding: 5px 16px;
        font-size: 14px;
        color: rgba(0, 0, 0, .24);
        border-left: 4px solid rgba(0, 0, 0, .12);

        blockquote {
            margin: 12px 0;
        }

        p {
            margin: 0;
        }
    }

    a {
        color: #1976d2;
        transition: color 0.1s ease-in-out;

        &:hover {
            opacity: 0.8;
            text-decoration: none;
        }
    }
}

.markdown-body.dark {
    h1 {
        border-color: rgba(255, 255, 255, .12);
    }

    h2 {
        border-color: rgba(255, 255, 255, .12);
    }

    table {
        tr {
            border-color: rgba(255, 255, 255, .12);
        }

        td, th {
            border-color: rgba(255, 255, 255, .12);
        }
    }

    pre {
        background-color: #161819;
    }

    code {
        background-color: #161819;
    }

    blockquote {
        color: rgba(255, 255, 255, .24);
        border-color: rgba(255, 255, 255, .12);
    }

    hr {
        border-color: rgba(255, 255, 255, .12);
    }
}
