:root {
    --markdown-border-color: rgba(0, 0, 0, .12);
    --markdown-pre-background-color: #f4f5f7;
    --markdown-code-background-color: #f4f5f7;
    --markdown-blockquote-color: rgba(0, 0, 0, .24);
    --markdown-link-color: #1976d2;
    --markdown-font-family: Roboto;
    --markdown-monospace-font-family: monospace;
}

[data-theme="dark"] {
    --markdown-border-color: rgba(255, 255, 255, .12);
    --markdown-pre-background-color: #161819;
    --markdown-code-background-color: #161819;
    --markdown-blockquote-color: rgba(255, 255, 255, .24);
}

.markdown-body {
    font-family: var(--markdown-font-family);
    h1 {
        margin: 48px 0 24px;
        padding-bottom: 16px;
        font-weight: 500;
        font-size: 1.857rem;
        border-bottom: 1px solid var(--markdown-border-color);
    }

    h2 {
        margin: 48px 0 24px;
        padding-bottom: 10px;
        font-weight: 500;
        font-size: 1.571rem;
        border-bottom: 1px solid var(--markdown-border-color);
    }

    h3 {
        margin: 48px 0 24px;
        padding-bottom: 10px;
        font-size: 1.286rem;
        font-weight: 500;
    }

    h4 {
        margin: 48px 0 24px;
        font-size: 1.143rem;
        font-weight: 400;
    }

    h5 {
        margin: 48px 0 24px;
        font-size: 1.143rem;
        font-weight: 400;
    }

    p, ul, ol {
        margin: 24px 0 24px;
        font-size: 0.875rem;
        line-height: 1.8;

        li {
            ul, ol {
                margin: 8px 0 0;
            }
        }
    }

    ul, ol {
        padding-left: 20px;
    }

    li {
        margin: 0 0 8px;
    }

    hr {
        margin: 48px 0;
        border: 0;
        border-bottom: 1px solid var(--markdown-border-color);
    }

    img {
        max-width: 100%;
    }

    table {
        display: block;
        margin: 48px 0;
        width: max-content;
        overflow: auto;
        border-spacing: 0;
        border-collapse: collapse;

        thead {
            text-align: left;
        }

        tr {
            border-top: 1px solid var(--markdown-border-color);
        }

        td, th {
            padding: 6px 12px;
            border: 1px solid var(--markdown-border-color);
        }
    }

    pre {
        padding: 16px;
        overflow: auto;
        font-size: 0.875rem;
        background-color: var(--markdown-pre-background-color);
        font-family: var(--markdown-monospace-font-family);

        code {
            padding: 0;
            font-size: 0.875rem;
            word-break: normal;
            white-space: pre;
            background: transparent;
            border: 0;
        }
    }

    pre:has(.syntax-highlighter) {
        padding: 0;
        background: transparent;
    }

    code {
        display: inline-block;
        padding: .1em .6em;
        margin: 0;
        font-size: 0.8em;
        background-color: var(--markdown-code-background-color);
        border-radius: 2px;
        font-family: var(--markdown-monospace-font-family);
    }

    blockquote {
        margin: 24px 0;
        padding: 5px 16px;
        font-size: 1rem;
        color: var(--markdown-blockquote-color);
        border-left: 4px solid var(--markdown-border-color);

        blockquote {
            margin: 12px 0;
        }

        p {
            margin: 0;
        }
    }

    a {
        color: var(--markdown-link-color);
        transition: color 0.1s ease-in-out;

        &:hover {
            opacity: 0.8;
            text-decoration: none;
        }
    }
}
