.custom-scrollbar {
  overflow: auto;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: transparent; /* Initially transparent */
  border-radius: 4px;
}

/* Light mode: Show scrollbar thumb on hover */
.custom-scrollbar:hover::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb-color);
}

/* Light mode: Scrollbar thumb hover color */
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-thumb-hover-color);
}

/* Dark mode: Show scrollbar thumb on hover */
.custom-scrollbar:hover::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb-color);
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-thumb-hover-color);
}